body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #ff6666;
}

textarea {
    font-family: 'Handlee', cursive;
}

header, h1, h2 {
    background-color: #00e6e6;
    text-align: center;
}

